* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #07141d;
}

.accordion {
    width: 50%;
    margin: 100px auto;
}

.accordion-item {
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}

.accordion-item label {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    color: tomato;
    font-family: calibri;
    font-weight: 600;
    cursor: pointer;
}

.accordion-item label .icon::before {
    content: "+";
    font-size: 30px;
    color: #333;
    transition: transform 0.3s;
}

.accordion-item input[type="radio"] {
    display: none;
}

.accordion-content {
    padding: 0 10px;
    line-height: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.accordion-content p {
    font-size: 18px;
    font-family: calibri;
}

/* Expand content and change icon when checked */
.accordion-item input[type="radio"]:checked + label + .accordion-content {
    max-height: 400px;
}

.accordion-item input[type="radio"]:checked + label .icon::before {
    content: "-";
    color: green; /* Optional: change color when expanded */
}

@media (max-width: 768px) {
  .accordion{
    width: 80%;
  }
}