*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	width: 100vw;
	height: 100vh;
	font-family: "Montserrat", sans-serif;
	background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	/*background-image:-webkit-gradient(linear, left bottom, right top, from(#6d327c), color-stop(#485DA6), color-stop(#00a1ba), color-stop(#00BF98), to(#36C486));
	background-image:-webkit-linear-gradient(left bottom, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
	background-image:-o-linear-gradient(left bottom, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
	background-image:linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);*/
}

a{
	text-decoration: none;
}

header{
	width: 100%;
	max-width: 100vw;
	height: auto;
}

.header-container{
	position: relative;
	display: flex;
	flex-direction: column;
}

.top-bar{
/*	position: fixed;*/
	width: 100%;
	background: rgba(255, 255, 255, 0.3);
	padding: 8px 15px;
	font-size: 14px;
	color: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.top-bar a{
	color: #fff;
}

.top-bar .nf{
	font-weight: 800;
}

.menu-container{
/*	position: absolute;*/
	display: flex;
	justify-content: space-between;
	padding: 20px 150px;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.logo img{
	width: 100%;
	max-width: 70px;
}

.logo-text{
	font-size: 15px;
	font-weight: 900;
	position: relative;
	color: #fff;
}

.logo-text:after{
	content: "Beta";
	position: absolute;
	top: -20px;
	right: -20px;
	padding: 3px 5px;
	border-radius: 3px;
	background-color: #FF7BDA;
	font-size: 12px;
}


nav.navbar ul{
	display: flex;
	gap: 20px;
	list-style: none;
}

nav.navbar ul li{
    position: relative;
}

nav.navbar ul li.navbar-badge{
	position: relative;
}

nav.navbar ul li.navbar-badge::after {
    content: "New";
    position: absolute;
    top: -20px;
    right: 0px;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: #FF08E2;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
}

nav.navbar ul li a{
	text-transform: uppercase;
	color: #fbfafc;
	font-size: 12px;
	letter-spacing: 2px;
	transition: color 0.2s ease;
	padding: 3px 0;
}

nav.navbar ul li a.active{
	border-bottom: 2px solid #2fffad;
}

nav.navbar ul li a::before{
	position: absolute;
	content: "";
	left: 0;
	bottom: -5px;
	width: 0%;
	height: 3px;
	border-bottom: 2px solid #2fffad;
	border-radius: 1px;
	transition: width 0.7s ease;
}

nav.navbar ul li a:hover::before{
  width: 95%;
}

/*main coding gradient container coding*/

main{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gradient-container{
	width: 700px;
	max-width: 100vw;
	height: auto;
	padding: 50px 20px;
}

.gradient-container h1{
	font-size: 35px;
	text-align: center;
	text-shadow: 2px 3px 0px #898999;
	line-height: 1.2;
	margin: 0 auto 35px;
	color: #fff;
}

.buttons{
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
}
.buttons button{
	height: 50px;
	text-align: center;
	width: 180px;
	border-radius: 50px;
	box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
	letter-spacing: 1px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	outline: none;
}

.buttons button:first-child{
	background-color:#051937;
	color: #fff;
}

.buttons button:last-child{
	background-color:#A8EB12;
}

.gradient-container p{
	font-weight: 900;
	color: #fff;
}

.copycode{
	font-family: 'Space Mono', monospace;
	width: 100%;
	margin: 0 auto;
	display: block;
	line-height: 1.4;
	letter-spacing: 0.2px;
	border-left: 3px solid #fff;
	background-color: rgba(189, 189, 189, 0.1);
	padding: 15px 8px 15px 17px;
	border-radius: 5px;
	color: #fff;
}