* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  body {
	width: 100vw;
	height: 100vh;
	font-family: "Montserrat", sans-serif;
	background: linear-gradient(135deg, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	background-size: 400% 400%;
	animation: gradientAnimation 15s ease infinite;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  @keyframes gradientAnimation {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
  
  .gradient-container {
	width: 90%;
	max-width: 600px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	border-radius: 15px;
	padding: 30px;
	text-align: center;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .gradient-container h1 {
	font-size: 2rem;
	font-weight: 900;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .buttons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
  }
  
  .buttons button {
	flex: 1;
	height: 50px;
	margin: 0 10px;
	border: none;
	border-radius: 30px;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .buttons button:first-child {
	background: #051937;
	color: #fff;
  }
  
  .buttons button:last-child {
	background: #a8eb12;
	color: #051937;
  }
  
  .buttons button:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .gradient-container p {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 15px;
  }
  
  .copycode {
	font-family: 'Space Mono', monospace;
	font-size: 0.9rem;
	background: rgba(255, 255, 255, 0.1);
	border-left: 4px solid #fff;
	padding: 15px;
	border-radius: 10px;
	color: #fff;
	line-height: 1.5;
	word-wrap: break-word;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 600px) {
	.gradient-container {
	  padding: 20px;
	}
  
	.buttons button {
	  margin: 5px;
	}
  
	.gradient-container h1 {
	  font-size: 1.5rem;
	}
  
	.copycode {
	  font-size: 0.8rem;
	}
  }

  @media (max-width:400px){
	.buttons{
		flex-direction: column;
	}
	.buttons button{
		width: 100%;
	    padding: 1rem 0;
	}
  }